In [46]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [47]:
#loading the data
df  = pd.read_csv("C://Users//vikas//OneDrive//Desktop//5th Trimester//Data Analytics//17-18//Train.csv")

df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [48]:
# We don't need id.
df.drop(["ID"], axis = 1, inplace = True)

In [49]:
df.nunique()

Gender              2
Ever_Married        2
Age                67
Graduated           2
Profession          9
Work_Experience    15
Spending_Score      3
Family_Size         9
Var_1               7
Segmentation        4
dtype: int64

In [50]:
df.isna().sum()

Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [51]:
cat_cols_mf = ['Ever_Married', 'Graduated','Profession','Work_Experience','Family_Size','Var_1']

In [52]:
si_mf = SimpleImputer(strategy = 'most_frequent')

In [53]:
df[cat_cols_mf] = si_mf.fit_transform(df[cat_cols_mf])

In [54]:
df.isna().sum()

Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [59]:
df.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,Male,No,-1.284623,No,Healthcare,-0.451136,Low,0.785536,Cat_4,D
1,Female,Yes,-0.327151,Yes,Engineer,-0.451136,Average,0.122735,Cat_4,A
2,Female,Yes,1.408268,Yes,Engineer,-0.451136,Low,-1.202868,Cat_6,B
3,Male,Yes,1.408268,Yes,Lawyer,-0.757410,High,-0.540066,Cat_6,B
4,Female,Yes,-0.207467,Yes,Entertainment,-0.451136,High,2.111139,Cat_6,A

In [56]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df['Age']=sc.fit_transform(df[['Age']])
df['Family_Size']=sc.fit_transform(df[['Family_Size']])
df['Work_Experience']=sc.fit_transform(df[['Work_Experience']])

In [57]:
df.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,Male,No,-1.284623,No,Healthcare,-0.451136,Low,0.785536,Cat_4,D
1,Female,Yes,-0.327151,Yes,Engineer,-0.451136,Average,0.122735,Cat_4,A
2,Female,Yes,1.408268,Yes,Engineer,-0.451136,Low,-1.202868,Cat_6,B
3,Male,Yes,1.408268,Yes,Lawyer,-0.757410,High,-0.540066,Cat_6,B
4,Female,Yes,-0.207467,Yes,Entertainment,-0.451136,High,2.111139,Cat_6,A

In [60]:
#Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

df['Gender']=le.fit_transform(df['Gender'])
df['Ever_Married']=le.fit_transform(df['Ever_Married'])
df['Graduated']=le.fit_transform(df['Graduated'])
df['Profession']=le.fit_transform(df['Profession'])
df['Spending_Score']=le.fit_transform(df['Spending_Score'])
df['Var_1']=le.fit_transform(df['Var_1'])
df['Segmentation']=le.fit_transform(df['Segmentation'])

In [61]:
df.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,1,0,-1.284623,0,5,-0.451136,2,0.785536,3,3
1,0,1,-0.327151,1,2,-0.451136,0,0.122735,3,0
2,0,1,1.408268,1,2,-0.451136,2,-1.202868,5,1
3,1,1,1.408268,1,7,-0.757410,1,-0.540066,5,1
4,0,1,-0.207467,1,3,-0.451136,1,2.111139,5,0

In [66]:
df1  = pd.read_csv("C://Users//vikas//OneDrive//Desktop//5th Trimester//Data Analytics//17-18//Test.csv")
df1

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,A
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,A
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,B
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
2622,467954,Male,No,29,No,Healthcare,9.0,Low,4.0,Cat_6,B
2623,467958,Female,No,35,Yes,Doctor,1.0,Low,1.0,Cat_6,A
2624,467960,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6,C
2625,467961,Male,Yes,47,Yes,Executive,1.0,High,5.0,Cat_4,C
2626,467968,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7,A

In [67]:
# We don't need id.
df1.drop(["ID"], axis = 1, inplace = True)

In [69]:
df1.nunique()

Gender              2
Ever_Married        2
Age                67
Graduated           2
Profession          9
Work_Experience    15
Spending_Score      3
Family_Size         9
Var_1               7
Segmentation        4
dtype: int64

In [73]:
df1.isna().sum()

Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
Segmentation         0
dtype: int64

In [74]:
df1.shape

(2627, 10)

In [75]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df1['Age']=sc.fit_transform(df1[['Age']])
df1['Family_Size']=sc.fit_transform(df1[['Family_Size']])
df1['Work_Experience']=sc.fit_transform(df1[['Work_Experience']])

In [76]:
#Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

df1['Gender']=le.fit_transform(df1['Gender'])
df1['Ever_Married']=le.fit_transform(df1['Ever_Married'])
df1['Graduated']=le.fit_transform(df1['Graduated'])
df1['Profession']=le.fit_transform(df1['Profession'])
df1['Spending_Score']=le.fit_transform(df1['Spending_Score'])
df1['Var_1']=le.fit_transform(df1['Var_1'])
df1['Segmentation']=le.fit_transform(df1['Segmentation'])

In [77]:
y_train=df['Segmentation']
x_train=df.drop(['Segmentation'], axis=1)
y_test=df1['Segmentation']
x_test=df1.drop(['Segmentation'], axis=1)

In [78]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier as dtree
from sklearn.tree import plot_tree
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [79]:
ct = dtree(
           criterion="gini",    # Alternative 'entropy'
           max_depth=None       # Alternative, specify an integer
                              # 'None' means full tree till single leaf
           )

In [80]:
ct.fit(x_train,y_train)

DecisionTreeClassifier()

In [81]:
y_pred = ct.predict(x_test)

In [82]:
confusion_matrix(y_test, y_pred)

array([[240, 208, 186, 212],
       [140, 143, 126, 141],
       [120, 129, 138,  85],
       [149, 148, 155, 307]], dtype=int64)

In [83]:
accuracy_score(y_test, y_pred)

0.3151884278644842

In [86]:
precision_score(y_test, y_pred,average="weighted")

0.32680674923050473

In [88]:
recall_score(y_test, y_pred,average="weighted" )

0.3151884278644842

In [90]:
f1_score(y_test, y_pred, average="weighted")

0.3182233564006222